---
interface Props {
  title: string;
  description: string;
  github?: string;
  huggingface?: string;
  live?: string;
  accentColor?: "red" | "navy";
}

const {
  title,
  description,
  github,
  huggingface,
  live,
  accentColor = "red",
} = Astro.props;
---

<div class="project-card">
  <div class={`project-card-accent ${accentColor}`}></div>
  <div class="project-card-content">
    <h3 class="project-title font-serif">{title}</h3>
    <p class="project-description font-serif">{description}</p>
    <div class="project-links">
      {
        github && (
          <a href={github} target="_blank" rel="noopener">
            GitHub{!live && " →"}
          </a>
        )
      }
      {
        huggingface && (
          <a href={github} target="_blank" rel="noopener">
            HuggingFace{!live && " →"}
          </a>
        )
      }
      {
        live && (
          <a href={live} target="_blank" rel="noopener">
            Live →
          </a>
        )
      }
    </div>
  </div>
</div>
